<body>
    <h1>Welcome to our automated page!</h1>
    <br>
    <h2>This site content was last updated at</h2>
    <br>
    <h1>Date: {{ ansible_date_time.date }}
    <br>
    Time: {{ ansible_date_time.time }}</h1>
</body>