<body>
    <h1>Welcome to our automated page!</h1>
    <br>
    <h2>This site content was updated at
    <br>
    Date: {{ ansible_date_time.date }}
    <br>
    Time: {{ ansible_date_time.time }}</h2>
</body>